h1, h2 {
  display: flex;
  justify-content: center;
  color: white;
}

header {
  background-color: brown;
  padding: 20px;
  border-radius: 100px;
  margin: 10px;
}

.title {
  color: black;
  display: flex;
  justify-content: center;
}

select {
  position: relative;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.list-item {
  border: solid thin;
  border-radius: 20px;
  border-color: black;
  margin: 10px;
  display: inline-block;
  flex-direction: row;
  padding: 10px;
  text-align: center;

}

.just-image {
  width: 300px;
  overflow: auto;
}

ul {
  list-style: none;
}



